# Core functionality - changes here should be rare!
/src/app.py                   @mhdna
/src/backend/database.py      @mhdna
/src/backend/routers/auth.py  @mhdna

# The frontend will need refactored soon to be more object oriented.
/src/static/   @mhdna
